* {
    margin: 0;
    padding: 0;
}

/* background */
.page {
    min-height: 100vh;
    width: 100%;
    background-image: 
        linear-gradient(rgba(44, 44, 44, 0.75),rgba(20, 20, 20, 0.75)), 
        url(Assets/background1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
/* background */


/* navbar */
.banner {
    position: absolute;
    top: 0px;
    overflow: hidden;
    height: 122px;
    width: 100%;
    background-color: black;
    border-bottom-left-radius: 70% 90px;
    border-bottom-right-radius: 70% 90px;       
    margin: auto;
    position: absolute;
}

.navbar{
    
    /* border: 1px solid green;  */
    top: 0px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.navbar a{
    position: relative;

    text-decoration: none;
    display: inline-block;

    text-align: center;
    width: 190px;

    color: white;
    text-transform: uppercase;
    transition: 0.2s;
    font-family: 'Cinzel';

    padding-top: 4px;
    padding-bottom: 4px;

    margin-left: 2%;
    margin-right: 2%;

    font-size: 23px;
}

.navbar a:hover{
    text-shadow: 0px 0px 15px #ffffff;
    text-decoration: underline;
    transform: scale(1.1);
}

/* navbar */





.container{
   /* position : relative;*/
    width: 100%; 
    height: 750;
    background-color: black;
}





/* screen center */
.logo{
    position: relative;
    top: -04px;
    height: 120px;
    width: 120px;
}

.logo:hover{
    transition: 10s;
    transform: rotate(30deg);
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.pageTitle h1{ 
    position: absolute;
    top: 478px;
    width: 100%;
    
    text-align: center;
    padding: 0;
    display: inline-block;

    pointer-events:none;

    color: white;
    font-size: 210px;
    font-family: 'Cinzel', Times, serif;
    text-shadow: 2px 2px 8px #000000;

    transform: scaleY(1.6);
}
/* screen center */



/* SUBBUTTONS */
.subButtons {

    position: absolute;
    width:100%;   
    margin-top: 3px;

}

.subButtons ul{
    
    text-decoration: none;
    text-align: center;
    position: relative;
}


.subButtons ul li {
    padding-left: 50px;
    padding-right: 50px;

    display: inline-block;

  }


.subButtons a {
    visibility: visible;
    color: white;
    text-decoration: none;
}


.subButtons h2{
    visibility: visible;
    pointer-events: none;
    position: absolute;
    top: 28px;

    width:390px;   
    word-wrap: normal;
    padding: 0;
    font-family:  'Cinzel', Times, serif;
}


.subButtons p{
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 36px;
    font-family:  'Cinzel', Times, serif;
    font-size: 15px;
    width:390px;   
    word-wrap: normal;

}

.subButtons li img:hover {
    box-shadow:5px 10px #00000080;
    filter: brightness(20%);
    border: 2px solid rgb(255, 255, 255);
    transform: scale(1.08);
    transition: 0.2s;
}



.subButtons li :hover .hide{
    top: 10px;
    font-size: 19px;
    text-decoration: underline;
    transition: 0.1s;
    
}

.subButtons li :hover .unhide{
    visibility: visible;
}



/* SUBBUTTONS*/


.contentBg {
    position: absolute;
    top: 865px;
    height: 672px;
    width: 100%;
    background-color: #000000f8;
  }

  
.text2{
    position: absolute;
    width: 70%;
    top: 15px;
    left: 1020px;

    font-weight: 1300;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family:  'Cinzel', Times, serif;
    font-size: 45px;
}

.text3{
    position: absolute;
    width: 70%;
    top: 154px;
    left: 1020px;

    font-weight: 1300;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family:  'Cinzel', Times, serif;
    font-size: 18px;
}

.contentbutton{
    position: absolute;
    top: 500px;
    left: 1020px;

    height: 68px;
    width: 250px;
    background-color: #ffd000;

    text-transform: uppercase;
    
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.2s;
    text-align: center;
}
.contentbutton img{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -40px;
    left: 43px;
    
    width: 50%;
    transform: rotate(180deg);
}


.contentbutton:hover{

    text-shadow: 0px 0px 8px #000000;
    transform: scale(1.1);
    background-color: #000000;
    color: rgb(255, 255, 255);
}


.contentbutton:hover img{
    
    opacity: 0.3;
    visibility: visible;
    transition: 0.5s;
    transform: rotate(0deg);
    filter: blur(1px);
}

.msg h2{
    font-size: 19px;
    color: white;
    font-family:  'Cinzel', Times, serif;
}

.rectContact{
    position: absolute;
        height: 560px;
        width: 100%;
        background-color: #000000d5;
}

.square0 {

    object-fit: cover;
    height: 400px;
    width: 290px;
    background-color: #555;
  }

  .square1 {

    object-fit: cover;
    height: 400px;
    width: 290px;
    background-color: #555;
  }

  .square1:hover {
    border: 2px solid rgba(255, 255, 255, 0.507);
    color: #000000;
    transition: 0.2s;
    transform: scale(1.1);
  }

  .square1:hover h1{
    text-decoration: underline;
    transition: 0.6s;
    transform: scale(1.1);
  }



.square0 img {
    object-fit: cover;
    filter: brightness(0.7);
    height: 100%;
    width: 100%;
    margin-top: 0;

    
}


.square0 img:hover .square0 img {
    
    filter: brightness(0.01);

    border: 1px solid rgb(255, 255, 255);
    filter: invert(100%);
    transition: 0.2s;
    
    transform: scale(1.2);
  }

.factionlogo{
    filter: drop-shadow(0px 0px 10px #ffffff91);

    pointer-events:none;
    position: absolute;
    top: 50px;
    margin-left: -85px;


}


.subButtons li :hover .factionlogo {

    filter: drop-shadow(0px 0px 15px #000000);
    transition: 0.3s;
    filter: invert(100%);
    top: 80px;
    transform: scale(0.64);
    
}

.Wrectangle{
    width: 100%;
    height: 500px;
    background-color: #555;

    object-fit: cover;
}